<div class="contenedor-curriculum">
  <h1>curriculum works!</h1>

  <div class="info-curriculum">
      <div class="costado-curriculum">
        <img src="../assets/fotoCurriculum.jpg" alt="">
        <div class="info-costado">
            <h2>Info personal</h2>
            <h3>apellido: Ramos</h3>
            <h3>edad: 22</h3>
            <h2>Redes</h2>
        </div>
      </div>
      <div class="resto-curriculum">
            <h1>Leandro Ramos</h1>
            <br>

            <ul><h2>(icono)Educacion</h2>
              <div class="linea-contorno">
                  <li><strong>.</strong>asdasda</li>
                  <li><strong>.</strong>sadasda</li>

              </div>

            </ul>
            <ul><h2>(icono)Experiencia</h2>
              <div class="linea-contorno">

                    <li><strong>.</strong>asdasdasd</li>

              </div>
            </ul>
            <br>

      </div>
  </div>

</div>
