
$fuente_principal:'Balsamiq Sans', cursive;

$telefono: 400px;
$tablet: 768px;
$desktop:1024px;

$colorBlanco: #ffffff;
$colorBoton: #FA5B38;


$gradiente1: linear-gradient(to down, #0fd850 0%, #f9f047 100%);
$gradiente2: linear-gradient(to bottom, #50cc7f 0%, #f5d100 100%);
$gradiente3: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
$gradiente4: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
